.help-care-bg {
    background: url("../../../../images/getstart-bg.png");
    background-color: #231d1d;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.help-container {
    border: 2px double rgb(44, 28, 28);
    border-radius: 20px;
}

.help-img {
    border-radius: 20px;
}